.table-container{
    width: 90%;
}

.content-table{
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.content-table, .content-table tr, .content-table td{
    border-collapse: collapse;
    line-height: 2em;
}

.content-table tr:nth-child(even){
    background-color: rgb(239, 232, 221);
    color: black;
}

.content-table tr th{
    background-color: black;
    color: white;
}

.content-table tr:hover{
    background-color: rgb(57, 55, 55);
    color: white;
    cursor: pointer;
}

.content-table tbody img{
    width: 50px;
}